* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
    transition: 0.3s linear;
}

img {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    margin-top: -6rem;
}

h3 {
    color: #fff;
    font-size: 1.7rem;
}

h4 {
    margin-top: 0.2rem;
  color: #bbff2b;
}

p {
    margin-top: 1rem;
    color: silver;
    font-weight: 300;
}

.bts {
    margin-top: 1rem;
}

a {
    display: block;
    background-color: #1f1f1f;
    color: #fff;
    width: clamp(9rem, 40vw, 18rem);
    height: 3rem;
    border-radius: 4rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 450;
}

a:hover {
    background-color: #bbff2b;
    color: #1f1f1f;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

section {
    width: clamp(10rem, 45vw, 20rem);
    height: clamp(30rem, 90vh, 40rem);
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.5rem;
    align-items: center;
}
@media (max-width: 480px) {
    section {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    
    a {
        width: 22rem;
        border-radius: 4rem;
    }

    img {
        margin-top: -7rem;
        margin-bottom: 1.1rem;
    }
}



