body {
  margin: 0;
  background-color: #EEE2CE;
}
/*cabeçalho*/

:hover.page1 {
  color: #836FFF;
}
:hover.page2 {
  color: #836FFF;
}
:hover.home {
  color: #836FFF;
}
:hover.about {
  color: #836FFF;
}
:hover.contact {
  color: #836FFF;
}
:hover.page3 {
  color: #836FFF;
}

.cabeçalho {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 22px 200px;
  background-color: #FFFFFF;
  
  flex-wrap: wrap;
  
}

.img {
  margin-right: auto;
}
/*cabçalho*/







































