body {
  margin: 0;
  background-color: #EEE2CE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  letter-spacing: 1px ;
}

/*cabeçalho*/

:hover.page1 {
  color: #836FFF;
}
:hover.page2 {
  color: #836FFF;
}
:hover.home {
  color: #836FFF;
}
:hover.about {
  color: #836FFF;
}
:hover.contact {
  color: #836FFF;
}
:hover.page3 {
  color: #836FFF;
}

.cabeçalho {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 22px 200px;
  background-color: #FFFFFF;
  
  flex-wrap: wrap;
  
}

.img {
  margin-right: auto;
}
/*cabçalho*/

.h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
h1 {
  font-weight: 400;
  color: #425465;
  margin-bottom: 1px;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

.imagens{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 1000px;
  height: auto;
  
}

.img2{
  width: 300px;         /* controla tamanho */
  height: 200px;        /* altura fixa */
  object-fit: cover;    /* mantém proporção cortando excesso */
  border-radius: 10px;  /* opcional, fica mais bonito */
}

.caixa {
  display: flex;
  justify-content: center;
}


#rodape {
  
  font-size: 14px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}
footer {
  margin-top: 120px;
  background-color: #333333;
}



























